:root {
    --light: #e2e4ef;
    --dark: #574e7a;
    --sunset: #f77647;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background-color: var(--dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
}

.name {
    padding: 5px 10px;
    background-color: var(--sunset);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 900;
    font-style: oblique;
    text-align: center;
    color: var(--light);
    position: relative;
}

#mypic {
    width: 200px;
    position: absolute;
    left:50px;
    top:100px;
    border-radius: 50%;
}

nav {
    margin: 30px;
    display: flex;
    text-align: center;
}

.navigate {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    color: var(--light);
}

.navigate:hover{
    color: var(--sunset);
    transition-duration: 1s;
}

#quote {
    display: flex;
    height: 240px;
    width: 100vw;
    background-image: url(/assets/images/sunset-background.png);
    background-size: cover;
    justify-content: flex-end;
}

#quote p {
    background-color: var(--sunset);
    font-size: 20px;
    margin: 100px 50px;
    padding: 10px;
    color: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}

#quote span {
    font-style:normal;
}

main {
    width: 100vw;
    display: flex;
    background-color: var(--light);
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: row;
}

.sections {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

.subtitle {
    font-size: 35px;
    color: var(--dark);
} 

#aboutme {
    padding: 20px;
}

#paragraph {
    padding: 20px 35px;
    border-left: 5px solid var(--dark);
}

#work {
    padding: 0 38px 0 15px;
}

.content {
    display: flex;
    padding: 20px 20px;
    position: relative;
}

.content div{
    padding: 10px;
    background-color: var(--light);
    border: 2px solid var(--dark);
    color: var(--dark);
}

.content a {
    text-decoration: none;
}

.content a:hover{
    color: var(--sunset);
    transition-duration: 1s;
}

.small-item {
    width: 45%;
}

.small-item img {
    max-width: 100%;
}


.horiseon-title {
    font-size: 30px;
    position: absolute;
    top: 250px;
    left:70px;
}

.horiseon-title p{
    font-size: 15px;
}

.projects {
    display: flex;
    flex-direction: column;
    border-left: 5px solid var(--dark);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.content img {
    opacity: 50%;
    border: 5px solid var(--dark);
}


.placeholder {
    padding: 0px 20px;
    display: inline-block;
}

#prework {
    position: relative;
    width: 93%;
}

#prework a {
    text-decoration: none;
    margin: 0 20px;
    background-color: var(--light);
    width: 100%;
}

#preworkpic {
    width: 100%;
}
 
.prework-title {
    font-size: 50px;
    position:absolute;
    left:80px;
    bottom:100px;
}

.prework-title a {
    margin: 0;
}

.prework-title p {
    font-size: 30px;
}

#prework-title:hover {
    color: var(--sunset);
    transition-duration: 1s;
}

#contact {
   padding: 20px 9px 20px 0;
}

.contact-links {
    padding: 20px;
    border-left: 5px solid var(--dark);
}

.links {
    padding: 20px;
    color: var(--dark);
}

.links:hover {
    color: var(--sunset);
    transition-duration: 1s;
}

.sections img:hover {
    opacity: 100%;
    transition-duration: 1.5s;
}

@media screen and (max-width: 900px){
    main {
        flex-direction: column;
    }

    header, nav {
        flex-direction: column;
        align-items: center;
    }

    header {
        height: 600px;
        
    } 

    .name {
        position:static;
        justify-content: center;
        margin: 20px;
    }

    #mypic {
        margin-left:25px;
        margin-top:25px;
        position: static;
    }

    #quote {
        align-items: center;
    }

    #quote p{
       height: 29%;
    }

    #quote span {
        display: block;
    }

    .subtitle {
        width: 90%;
        border-bottom: 5px solid var(--dark);
    }

    .sections {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #paragraph {
        padding: 20px 30px 20px 20px;
    }

    #paragraph, .projects, .contact-links {
        border-left: none;
    }

    .contact-links {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #contact, #work {
        padding: 20px;
    }
}

